html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.graphiql-container .toolbar {
    flex: 2;
    text-align: right;
}

.toolbar .url-input {
    width: 240px;
}

.url-span:hover {
    cursor: pointer;
    background: #fefefe;
}
